<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.jpg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="./../../main.js"></script>
    <title>clone-modal-component</title>
  </head>
  <body>
    <h1 class="clone-modal-h1">modal component</h1>
    <div class="clone-modal-wrapper">
      <button type="button" class="clone-modal-open">Open</button>
      <dialog class="clone-modal">
        <h3 class="clone-modal-title">
          해당사이트는 공식 사이트가아닌, 학습을 위해 제작된 클론 사이트입니다.
        </h3>
        <form method="dialog">
          <button type="button" class="clone-modal-close">
            하루 이창 보지않기
          </button>
        </form>
      </dialog>
    </div>
  </body>
</html>
