body {
  /* background-color: black; */
}
/*  */
.gnb-sch-bar {
  --block-sch-p: 0.5rem;
  --sch-in-text: 1rem;
  --sch-btn-icon: 1.375rem;

  @media screen and (min-width:768px){
    --block-sch-p: .75rem;
    --sch-in-text: 1.375rem;
    --sch-btn-icon: 28px; 
  }

  @media screen and (min-width:1920px){
    --block-sch-p: 1rem;
    --sch-in-text: 2.375rem;
    --sch-btn-icon: 3.125rem;
  }

  display: flex;
  width: 100%;
  padding-block: var(--block-sch-p);
  border-bottom: 2px solid white;
  font-size: var(--sch-in-text);
  font-weight: 600;

  input {
    flex-grow: 1;
    appearance: none;
    background: none;
    border: none;
    color: white;

    &::placeholder {
      color: var(--gray--700);
    }
    &::-webkit-search-cancel-button {
      appearance: none;
    }
  }

  .gnb-sch-input {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  .gnb-sch-input-lg {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
    }
  }
  .gnb-sch-btn {
    appearance: none;
    border: none;
    background-color: none;
    background: url(../../assets/mgnb/search-md-hover.svg) no-repeat center /
      cover;
    width: var(--sch-btn-icon);
    aspect-ratio: 1/1;
  }
}
/* 최근검색어 */
.gnb-sch-result {
  --result-title-size: 1rem;
  --result-text-size: 0.75rem;
  --result-mb: 0.75rem;
  @media screen and (max-width:768px){
    display: none;
  }
  @media screen and (min-width:1920px){
    --result-title-size: 1.75rem;
  --result-text-size: 1.375rem;
  --result-mb: 20px;
  }

  .gnb-sch-result-title {
    color: var(--gray--200);
    font-size: var(--result-title-size);
    margin-bottom: var(--result-mb);
    font-weight: 600;
  }
  .gnb-sch-result-text {
    color: var(--gray--300);
    font-size: var(--result-text-size);
    font-weight: 400;
  }
}

/* 실시간 인기검색어 */
.gnb-sch-pop {
  --sch-pop-size: .75rem;
  --sch-title-size:1rem;
  --sch-title-mb:1.25rem;
  --sch-ol-li-mb:.5625rem;
  --sch-time-mt:1rem;

  @media screen and (min-width:1920px){
    --sch-pop-size: 22px;
    --sch-title-size:1.75rem;
    --sch-title-mb:2.25rem; 
    --sch-ol-li-mb:1rem;
    --sch-time-mt:1rem; 
  }

  color: var(--gray--200);
  font-size: var(--sch-pop-size);
  
  .gnb-sch-pop-title{
    font-size: var(--sch-title-size);
    font-weight: 600;
    margin-bottom: var(--sch-title-mb);
  }

  li {
    color: var(--gray--300);
    margin-bottom: var(--sch-ol-li-mb);

    &:first-child {
      font-weight: 600;
    }

    &:last-child{
      margin-bottom: 0;
    }
    

    a {
      display: grid;
      grid-template-columns: 1.5em 1fr;
    }

    .gnb-sch-num {
      font-weight: 600;
      color: var(--brand--red-1);
    }
  }
  time{
    display: block;
    color: var(--gray--600);
    margin-top:var(--sch-time-mt);
  }
}

/* 검색창 레이아웃 */
.gnb-sch-wrapper{
  background-color: black;
  --sch-wrapper-tp:1.25rem;
  --sch-wrapper-bp:1.25rem; 
  --sch-wrapper-row-gap:2.5rem;
  --sch-wrapper-xp:2.375rem;

/* 반응형 변수 */
  @media screen and (min-width:768px){
    --sch-wrapper-tp:1.75rem;
    --sch-wrapper-bp:3.25rem; 
    --sch-wrapper-row-gap:3rem;
    --sch-wrapper-xp:7.75rem;
  }
  @media screen and (min-width:1920px){
    --sch-wrapper-tp:3.25rem;
    /* --sch-wrapper-bp:3.25rem;  */
    --sch-wrapper-row-gap:6.125rem;
    --sch-wrapper-xp:13.75rem;
  }


  padding-top: var(--sch-wrapper-tp);
  padding-bottom: var(--sch-wrapper-bp);
  padding-inline: var(--sch-wrapper-xp);
  display: grid;
  grid-template-columns: 1fr;
  row-gap: var(--sch-wrapper-row-gap);
  
  .gnb-center-line{
    @media screen and (max-width:768px){
     display: none;
    }
    width: 2px;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--gray--800);
    justify-self: center;
  }
  /* 반응형 레이아웃 */
  @media screen and (min-width:768px){
    grid-template-columns: 1fr 4.375rem 1fr;

    .gnb-sch-bar{
      grid-column: span 3;
    }
  }
  @media screen and (min-width:1920px){
      grid-template-columns: 1fr 7.5rem 1fr;
  }
}