<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/favicon.jpg" />
  <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" /> 
  <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
  <script type="module" src="./../../main.js"/></script>
  <title>GNB-검색창 만들기</title>
</head>
<body>
  <!-- 서치바 -->
    <form class="gnb-sch-bar">
      <input type="text" class="gnb-sch-input" name="gnb-sch" id="gnb-sch" placeholder="검색"/>
      <input type="text" class="gnb-sch-input-lg" name="gnb-sch" id="gnb-sch" placeholder="검색"/>
      <label for="gnb-sch" class="sr-only">TV프로그램, 영화 제목 및 출연진으로 검색해 보세요.</label>
      <button class="gnb-sch-btn"><span class="sr-only">검색하기</span></button>
    </form>
</body>
</html>