<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.jpg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="./../../main.js"></script>
    <title>category-contnet-component</title>
  </head>
  <body>
    <h1>카테고리별 콘텐츠 페이즈</h1>
    <hr />
    <section class="categort-visual-area">
      <div class="category-visual">
        <ul class="visual-img-list">
          <li>
            <a href="/">
              <img
                src="./../../assets/drama-card-images/jurumokmak-img.webp"
                alt="주렴옥막 포스터 이미지"
                class="category-visual-img"
              />
              <img
                src="./../../assets/drama-card-images/jurumokmak-text.webp"
                alt="주렴옥막 포스터 텍스트 이미지"
                class="category-visual-img-text"
              />
            </a>
          </li>
        </ul>
      </div>
    </section>
    <hr />

    <section class="sub-categories-area">
      <div class="sub-category-list">
        <a class="sub-category-button">해외 드라마</a>
      </div>
    </section>
    <hr />

    <section class="category-card-list-area">
      <ul class="category-card-list">
        <li class="card">
          <a href="/" class="card-link">
            <figure>
              <img
                src="./../../assets/drama-card-images/china-drama/china-drama-1.webp"
                alt="아취시여자 포스터 이미지"
              />
              <figcaption class="sr-only">title</figcaption>
            </figure>
          </a>
        </li>

        <li class="card">
          <a href="/" class="card-link">
            <figure>
              <img
                src="./../../assets/drama-card-images/china-drama/china-drama-2.webp"
                alt="아취시여자 포스터 이미지"
              />
              <figcaption class="sr-only">title</figcaption>
            </figure>
          </a>
        </li>
      </ul>
    </section>

    <hr />
    <section>
      <ul class="category-card-list category-ranking-list">
        <li class="card" style="background-color: #000">
          <a href="/" class="card-link">
            <figure>
              <img
                src="./../../assets/drama-card-images/ranking-drama/ranking-drama-1.webp"
                alt="랭킹 리스트 중 재벌집 막내아들 이미지 "
                class="ranking-content-img"
              />

              <figcaption>
                <img
                  src="./../../assets/numder-icon/num-6.svg"
                  alt="랭킹 1위 텍스트 이미지"
                />
              </figcaption>
            </figure>
          </a>
        </li>
      </ul>
    </section>
  </body>
</html>
