<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.jpg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="./../../main.js"></script>
    <title></title>
  </head>
  <body>
    <h1>카테고리별 콘텐츠 페이즈</h1>
    <hr />
    <section class="categort-visual-area">
      <div class="category-visual">
        <ul class="visual-img-list">
          <li>
            <a href="/">
              <img
                src="./../../assets/drama-card-images/jurumokmak-img.webp"
                alt="주렴옥막 포스터 이미지"
                class="category-visual-img"
              />
              <img
                src="./../../assets/drama-card-images/jurumokmak-text.webp"
                alt="주렴옥막 포스터 텍스트 이미지"
                class="category-visual-img-text"
              />
            </a>
          </li>
        </ul>
      </div>
    </section>
    <hr />

    <section class="sub-categories-area">
      <div class="sub-category-list">
        <a class="sub-category-button">해외 드라마</a>
      </div>
    </section>
    <hr />

    <section class="drama-card-list-area">
      <ul class="drama-card-list">
        <li class="drama-card">
          <a href="/">
            <img
              src="./../../assets/drama-card-images/achuisi-women.webp"
              alt="아취시여자 포스터 이미지"
            />
          </a>
        </li>
                <li class="drama-card">
          <a href="/">
            <img
              src="./../../assets/drama-card-images/achuisi-women.webp"
              alt="아취시여자 포스터 이미지"
            />
          </a>
        </li>
      </ul>
    </section>
  </body>
</html>
