/* 기본 스타일 */
.index_container {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  display: grid;
  grid-template-rows: 1fr auto;
  /* grid-template-rows를 1fr auto로 설정 -> 네비가 항상 아래에 위치 */
  height: 100vh;
}

/* 네비게이션 스타일 */
.index_nav_container {
  background-color: #212121;

  margin: 12px;
  align-self: end;
  /* align-self: end 추가 -> grid 내부 하단정렬 */
  width: 100%;
  margin: auto;
}

.index_nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
  padding: 8px;
  margin: 0;
  list-style: none;
  text-align: center;
  border-top: 3px solid;
  border-top-color: #cc1030;
}

.index_nav a {
  text-decoration: none;
  color: #898989;
  font-weight: bold;
  display: block;
  padding: 20px;

  border-radius: 5px;
  transition: background 0.3s;
}

.index_nav a:hover {
  background-color: #ff153c;
  color: white;
}

/* 메인 컨텐츠 */
.index_header {
  display: grid;
  place-items: center;
  gap: 36px;
  text-align: center;
  padding-top: 20px;
  margin: 40px;
}
/* 하단 타잉 페이지 바로보기 */
.index_nav_icon {
  text-decoration: none;
  color: white;
  background-color: #ff153c;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  transition: background 0.3s;
  width: 100px;
  margin: 10px;
}

.index_nav_icon:hover {
  background-color: #cc1030;
}
/* nav 메뉴 기본적으로 숨기기 */
#index_navMenu {
  display: none;
}

/* 'visible' 클래스가 적용되면 nav 보이기 */
#index_navMenu.visible {
  display: block;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .index_nav {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
