/* 기본 스타일 */
.index_container {
  font-family: Arial, sans-serif;
  font-size: 12px;
  background-color: black;
  color: white;
  display: grid;
  grid-template-rows: 1fr auto;
  /* grid-template-rows를 1fr auto로 설정 -> 네비가 항상 아래에 위치 */
  height: 100vh;
  gap: 10px;
}

/* 네비게이션 스타일 */
.index_nav_container {
  background-color: #212121;

  margin: 12px;
  align-self: end;
  /* align-self: end 추가 -> grid 내부 하단정렬 */
  width: 100%;
  margin: auto;
}

.index_nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 한 줄에 6개의 버튼 */
  grid-template-rows: repeat(4, auto); /* 4줄로 정리 */
  gap: 15px;
  padding: 8px;
  margin: 0;
  list-style: none;
  text-align: center;
  border-top: 3px solid;
  border-top-color: #cc1030;

  /* grid 영역 설정 */
  grid-template-areas:
    "main-card main-visual main-nav modal . ."
    "landing main drama movie history search"
    "login findid findpw signup . ."
    "profile profile-edit subprofile . . .";
}

.index_nav li:nth-child(1) {
  grid-area: main-card;
}
.index_nav li:nth-child(2) {
  grid-area: main-visual;
}
.index_nav li:nth-child(3) {
  grid-area: main-nav;
}
.index_nav li:nth-child(4) {
  grid-area: modal;
}
.index_nav li:nth-child(5) {
  grid-area: landing;
}
.index_nav li:nth-child(6) {
  grid-area: main;
}
.index_nav li:nth-child(7) {
  grid-area: drama;
}
.index_nav li:nth-child(8) {
  grid-area: movie;
}
.index_nav li:nth-child(9) {
  grid-area: history;
}
.index_nav li:nth-child(10) {
  grid-area: search;
}
.index_nav li:nth-child(11) {
  grid-area: login;
}
.index_nav li:nth-child(12) {
  grid-area: findid;
}
.index_nav li:nth-child(13) {
  grid-area: findpw;
}
.index_nav li:nth-child(14) {
  grid-area: signup;
}
.index_nav li:nth-child(15) {
  grid-area: profile;
}
.index_nav li:nth-child(16) {
  grid-area: profile-edit;
}
.index_nav li:nth-child(17) {
  grid-area: subprofile;
}

/* 각 줄에 배경 색을 다르게 적용 */
.index_nav > li:nth-child(-n + 4) {
  /* 1번째 줄 */
  background-color: #36050d; /* 1번째 줄 배경 색 */
}

.index_nav > li:nth-child(n + 5):nth-child(-n + 10) {
  /* 2번째 줄 */
  background-color: #4e0713; /* 2번째 줄 배경 색 */
}

.index_nav > li:nth-child(n + 11):nth-child(-n + 14) {
  /* 3번째 줄 */
  background-color: #730b1c; /* 3번째 줄 배경 색 */
}

.index_nav > li:nth-child(n + 15):nth-child(-n + 24) {
  /* 4번째 줄 */
  background-color: #900e24; /* 4번째 줄 배경 색 */
}

/* Wobble Animation */
@keyframes wobble {
  0%,
  100% {
    transform: translateX(0%) rotate(0deg);
  }
  15% {
    transform: translateX(-6px) rotate(-5deg);
  }
  30% {
    transform: translateX(4px) rotate(3deg);
  }
  45% {
    transform: translateX(-4px) rotate(-3deg);
  }
  60% {
    transform: translateX(2px) rotate(2deg);
  }
  75% {
    transform: translateX(-2px) rotate(-1deg);
  }
}

.index_nav a {
  text-decoration: none;
  color: #aaaaaa;
  font-weight: bold;
  display: block;
  padding: 20px;

  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

.index_nav a:hover {
  color: white;
}
.index_nav li {
  border-radius: 5px;
}
.index_nav li:hover {
  background-color: #ff153c !important;
  animation: wobble 1.3s infinite ease-in-out;
  animation-play-state: running;
}

/* 메인 컨텐츠 */
.index_header {
  display: grid;
  place-items: center;
  gap: 36px;
  text-align: center;
  padding-top: 20px;
  margin: 30px;

  h2 {
    color: var(--white, #fff);

    /* Heading/Medium */
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 22.4px */
  }
}
/* 하단 타잉 페이지 바로보기 */
.index_nav_icon {
  text-decoration: none;
  color: white;
  background-color: #ff153c;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  transition: background 0.3s;
  width: fit-content; /* 내용물 크기에 맞게 */
  justify-self: center; /* 가로 중앙 정렬 */
  padding: 10px 20px 10px 20px;
  margin: 10px;
}

@keyframes wobbleY {
  0%,
  100% {
    transform: translateY(0%) rotate(0deg);
  }
  15% {
    transform: translateY(-6px) rotate(-5deg);
  }
  30% {
    transform: translateY(4px) rotate(3deg);
  }
  45% {
    transform: translateY(-4px) rotate(-3deg);
  }
  60% {
    transform: translateY(2px) rotate(2deg);
  }
  75% {
    transform: translateY(-2px) rotate(-1deg);
  }
}

.index_nav_icon:hover {
  background-color: #cc1030;
  animation: wobbleY 1.3s infinite ease-in-out;
  animation-play-state: running;
}
/* nav 메뉴 기본적으로 숨기기 */
#index_navMenu {
  display: none;
}

/* 'visible' 클래스가 적용되면 nav 보이기 */
#index_navMenu.visible {
  display: block;
}

/* 반응형 디자인 */
@media (max-width: 767px) {
  .index_nav {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "main-card main-visual"
      "main-nav modal"
      "landing main"
      "movie drama"
      "history search"
      "login signup"
      "findid findpw"
      "profile profile-edit"
      "subprofile .";
  }
}
/* 768px 이상 1024px 이하일 때 */
@media (min-width: 768px) and (max-width: 1024px) {
  .index_container {
    font-size: 16px;
  }
  .index_nav {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "main-card main-visual main-nav modal"
      "landing main drama ."
      "movie history search ."
      "login signup . ."
      "findid findpw . ."
      "profile profile-edit subprofile .";
  }

  .index_header {
    h2 {
      font-size: 28.43px;
    }

    img {
      width: 372px;
      height: 146px;
      width: 100%;
    }
  }
}

/* 1024px 이상일 때 */
@media (min-width: 1024px) {
  .index_container {
    font-size: 20.43px;
  }
  .index_nav {
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 10px;
  }

  .index_header {
    h2 {
      font-size: 37.897px;
    }

    img {
      width: 496px;
      height: 195px;
      width: 100%;
    }
  }
}
