<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.jpg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="./../../main.js"></script>
    <title>main-card-component</title>
  </head>
  <body>
    <h1>main-card-component</h1>

    <section class="tving-content">
      <h2>tving-content</h2>
      <div class="main-card"></div>
    </section>

    <hr />

    <section class="quick-VOD">
      <h2>Quick VOD</h2>
      <div class="quick-VOD-card"></div>
    </section>

    <hr />

    <section class="live-ranking">
      <h2>실시간 인기 프로그램</h2>
      <div class="live-ranking-card"></div>
    </section>

    <hr />

    <section class="live-channel">
      <h2>인기 채널</h2>
      <div class="live-channel-card"></div>
    </section>

    <hr />

    <section class="only-tving">
      <h2>오로지 티빙에서만</h2>
      <div class="only-tving-card"></div>
    </section>

    <hr />

    <section class="tving-content">
      <h2>tving-content</h2>
      <div class="main-card"></div>
    </section>

    <section class="banner-area">
      <div class="banner-card"></div>
    </section>

    <hr />

    <section class="event-list">
      <div class="event-card"></div>
    </section>
  </body>
</html>
