<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.jpg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="./../../main.js"></script>
    <title>main-card-component</title>
  </head>
  <body>
    <h1>main-card-component</h1>

    <section class="card-wrapper tving-content">
      <h2>tving-content</h2>
      <ul class="main-card-list main-card-list">
        <li class="card">
          <a href="/" class="card-link">
            <figure>
              <img
                src="./../../assets/main-card-images/tving-content/tving-content-1.webp"
                alt="보물찾기 콘텐츠 이미지"
              />
              <figcaption class="sr-only">title</figcaption>
            </figure>
          </a>
        </li>
      </ul>
    </section>

    <hr />

    <section class="card-wrapper quick-VOD">
      <h2>Quick VOD</h2>
      <ul class="main-card-list quick-VOD-card-list">
        <li class="card">
          <a href="/" class="card-link">
            <figure>
              <img
                src="./../../assets/main-card-images/quick-VOD/quick-VOD-1.webp"
                alt="JTBC 뉴스룸 콘텐츠 이미지"
              />

              <figcaption class="sr-only">title</figcaption>
            </figure>
          </a>
        </li>
      </ul>
    </section>

    <hr />

    <section class="card-wrapper user-watching-content">
      <h2>프로필님이 시청중인 콘텐츠</h2>
      <ul class="main-card-list user-watching-card-list">
        <li class="card">
          <a href="/" class="card-link">
            <figure>
              <img
                src="./../../assets/main-card-images/user-watching-content/user-watching-content-1.webp"
                alt="시청중인 재벌집 막내아들 포스터"
              />
              < figcaption class="watching-card-bottom">
                <figcaption>1화</figcaption>
                <button class="watching-content-card-info">
                  <svg
                    viewBox="0 0 37 36"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle cx="18.28" cy="10" r="2" fill="#B3B3B3"></circle>
                    <circle cx="18.28" cy="18" r="2" fill="#B3B3B3"></circle>
                    <circle cx="18.28" cy="26" r="2" fill="#B3B3B3"></circle>
                  </svg>
                </div>
              </div>
              <button class="play-svg-img">
                <svg
                  viewBox="0 0 84 83"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g opacity="0.996">
                    <circle
                      cx="41.78"
                      cy="41.5"
                      r="34.083"
                      fill="#000"
                      fill-opacity="0.7"
                      stroke="#fff"
                    ></circle>
                    <path
                      d="M34.863 55.333V27.667L57.343 41.5l-22.48 13.832z"
                      fill="#fff"
                    ></path>
                  </g>
                </svg>
              </div>
            </figure>
          </a>
        </li>
      </ul>
    </section>

    <hr />
    <section class="card-wrapper live-ranking">
      <h2>실시간 인기 프로그램</h2>
      <ul class="main-card-list live-ranking-card-list">
        <li class="card">
          <a href="/" class="card-link">
            <figure>
              <img
                src="./../../assets/main-card-images/live-ranking/live-ranking-1.webp"
                alt="랭킹 리스트 중 재벌집 막내아들 이미지 "
                class="ranking-content-img"
              />

              <figcaption>
                <img
                  src="./../../assets/numder-icon/num-1.svg"
                  alt="랭킹 1위 텍스트 이미지"
                />
              </figcaption>
            </figure>
          </a>
        </li>
      </ul>
    </section>

    <hr />

    <section class="card-wrapper live-channel">
      <h2>인기 채널</h2>
      <ul class="main-card-list live-channel-card-list">
        <li class="card">
          <a href="/" class="card-link">
            <figure>
              <img
                src="./../../assets/main-card-images/live-channel/live-channel-1.webp"
                alt="랭킹 리스트 중 재벌집 막내아들 이미지 "
              />
              <figcaption class="rank-channel-text">
                <figcaption>title</figcaption>
                <p class="subtitle">subtitle</p>
                <p class="ranking">
                  <img src="./../../assets/numder-icon/num-3.svg" alt="" />
                </p>
                <p class="viewer">viewer</p>
              </div>
            </figure>
          </a>
        </li>
      </ul>
    </section>

    <hr />

    <section class="card-wrapper only-tving">
      <h2>오로지 티빙에서만</h2>
      <ul class="main-card-list only-tving-card-list">
        <li class="card">
          <a href="/" class="card-link">
            <figure>
              <img
                src="./../../assets/main-card-images/only-tving/only-tving-1.webp"
                alt="오직 티빙에서만 시청하는한 콘텐츠 중 '전체연령가' 드라마 포스터  "
              />
              <figcaption class="sr-only">title</figcaption>
            </figure>
          </a>
        </li>
      </ul>
    </section>

    <hr />

    <section class="banner-area">
      <div class="card banner-card">
        <a href="/" class="card-link">
          <figure>
            <img
              src="./../../assets/main-card-images/banner/banner.webp"
              alt="티빙 스포츠 경기 생중게 배너 "
            />
            <figcaption class="sr-only">banner-title</figcaption>
          </figure>
        </a>
      </div>
    </section>

    <hr />

    <section>
      <div class="card-move-buttons">
        <button type="button" class="left">
          <svg
            width="70"
            height="70"
            viewBox="0 0 70 70"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_158_6408)">
              <g opacity="0.7">
                <path
                  d="M44.13 16.7393L25.8691 35.0001"
                  stroke="#ffffff"
                  stroke-width="4"
                  stroke-linecap="square"
                />
                <path
                  d="M25.8691 35L44.13 53.2609"
                  stroke="#ffffff"
                  stroke-width="4"
                  stroke-linecap="square"
                />
              </g>
            </g>
            <defs>
              <clipPath  >
                <rect width="70" height="70" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </button>
        <button type="button" class="right">
          <svg
            width="70"
            height="70"
            viewBox="0 0 70 70"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_158_6402)">
              <path
                d="M25.8691 16.7373L44.13 34.9982"
                stroke="#ffffff"
                stroke-width="4"
                stroke-linecap="square"
              />
              <path
                d="M44.13 34.998L25.8691 53.2589"
                stroke="#ffffff"
                stroke-width="4"
                stroke-linecap="square"
              />
            </g>
            <defs>
              <clipPath>
                <rect width="70" height="70" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </button>
      </div>
    </section>
  </body>
</html>
