/* card-wrapper */
.card-wrapper {
  --button-w-desktop-xl: 12.5rem;
  --button-w-desktop: 4.375rem;
  --button-w-tablet: 2.5rem;
  --button-w-mobile: 0.9375rem;
  --button-h-desktop-xl: 12.5rem;
  --button-h-desktop: 4.375rem;
  --button-h-tablet: 2.5rem;
  --button-h-mobile: 0.9375rem;
  position: relative;
  overflow-x: hidden;
  max-width: 120rem;
  margin: 0 auto;

  @media (min-width: 1961px) {
    max-width: 100%;
  }

  /* card-move-buttons */
  .card-move-buttons {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 0;
    z-index: 3;
    transform: translateY(-50%);
    pointer-events: none;

    .left,
    .right {
      display: none;
      width: 42px;
      background: none;
      border: none;
    }
  }

  &:hover {
    .left,
    .right {
      pointer-events: visible;
      display: inline-block;
      border: none;
      width: 2.888em;
      height: 100%;

      svg {
        width: var(--button-w-mobile);
        height: var(--button-h-mobile);

        @media (min-width: 768px) {
          width: var(--button-w-tablet);
          height: var(--button-h-tablet);
        }
        @media (min-width: 1024px) {
          width: var(--button-w-desktop);
          height: var(--button-h-desktop);
        }
        @media (min-width: 1961px) {
          width: var(--button-w-desktop);
          height: var(--button-h-desktop);
        }
        @media (min-width: 1961px) {
          width: var(--button-w-desktop-xl);
          height: var(--button-h-desktop-xl);
        }
      }
    }

    .left {
      background-image: radial-gradient(
        106.25% 50% at 106.25% 50%,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0.6) 52.6%,
        rgba(0, 0, 0, 0) 100%
      );
    }

    .right {
      background-image: radial-gradient(
        106.88% 50.3% at -6.88% 50%,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0.6) 53.21%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }

  h2 {
    margin-bottom: 10px;
  }
}
/*.main-card-list  */
.main-card-list {
  display: flex;
  gap: 12px;
  width: 100%;

  overflow-x: scroll;
  white-space: nowrap;
  padding: 20px;

  /* mask-image 속성은 CSS에서 요소의 내용을 "마스크"를 이용해 숨기거나 보여주는 기능 */
}
.main-card-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.main-card-list::-webkit-scrollbar {
  display: none;
}
/* card desgin */
.card {
  --card-font-desektop: 1.333rem;
  --card-font-tablet: 0.75rem;
  --card-font-mobile: 0.5rem;
  --card-font-xl: 2.125rem;
  --card-font-2xl: 2.875rem;
  --card-font-3xl: 4.375rem;

  --card-font-bold-600: 600;
  --card-font-bold-400: 400;
  --card-font-bold-700: 700;

  font-family: "Pretendard";
  font-weight: var(--card-font-bold-600);
  width: calc(100vw / 6);
  min-width: 90px;
  list-style: none;
  flex-shrink: 0;
  border-radius: 6px;
  overflow: hidden;
  z-index: 2;
  transition: transform 0.3s ease-in-out;
  @media (min-width: 1961px) {
    width: calc(100vw / 8);
  }
  .card-link {
    display: block;
    color: var(--gray-200, #c4c4c4);
    text-decoration: none;

    img {
      width: 100%;
      object-fit: cover;
    }

    /* card title */
    figcaption {
      text-transform: uppercase;
    }
  }

  &:hover {
    transform: translateY(-15px);
    transition: all 0.3s ease-in-out;
  }
}

/* quick-VOD-card  */
.quick-VOD-card-list {
  font-size: 0;
  font-weight: var(--card-font-bold-600);

  @media (min-width: 768px) {
    font-size: var(--card-font-tablet);
  }
  @media (min-width: 1024px) {
    font-size: var(--card-font-desektop);
  }
  p {
    font-weight: var(--card-font-bold-400);
  }
}

/* user-watching-card-list */
.user-watching-card-list {
  figure {
    position: relative;
  }

  .play-svg-img {
    --play-img-w-mobile: 3.125rem;
    --play-img-w-tablet: 4.375rem;
    --play-img-w-desktop: 6.25rem;
    background: none;
    border: none;
    position: absolute;
    width: var(--play-img-w-mobile);
    top: 30%;
    left: 50%;
    transform: translateY(-30%);
    transform: translateX(-50%);

    @media (min-width: 768px) {
      width: var(--play-img-w-tablet);
    }
    @media (min-width: 1024px) {
      width: var(--play-img-w-desktop);
    }
  }

  .watching-card-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgb(25 25 25);
    align-items: center;

    p {
      font-size: 0.625rem;
      padding: clamp(0.5rem, 2vw, 0.625rem);
      padding-right: 0;
      color: #fff;
      @media (min-width: 768px) {
        font-weight: var(--card-font-bold-600);
        font-size: 16px;
      }
    }
    .watching-content-card-info {
      min-width: 0.9375rem;
      width: 1vw;
      height: 100%;
      background: none;
      border: none;
      z-index: 4;
      @media (min-width: 768px) {
        width: 2vw;
      }
    }
  }
}

/* live-ranking */
.live-ranking-card-list {
  figure {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 5px;
    .ranking-content-img {
      grid-row: 1/-1;
      grid-column: 2/3;
      width: 100%;
      object-fit: cover;
    }

    figcaption {
      color: #fff;
      grid-column: 1/2;
      place-self: end;

      width: 5vw;
      @media (min-width: 768px) {
        width: 5vw;
      }
      @media (min-width: 1024px) {
        width: 5vw;
      }
      @media (min-width: 1961px) {
        width: 4vw;
      }

      img {
        height: 100%;
        min-width: 20px;
        object-fit: cover;
      }
    }
  }
}

/* live-channel-card */
.live-channel-card-list {
  .rank-channel-text {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(3, auto);
    align-items: start;
    column-gap: 0.75rem;
    margin-top: 8px;
  }

  .ranking {
    grid-column: 1/2;
    grid-row: 1/-1;
    min-height: 1.875rem;

    img {
      height: 100%;
      min-width: 20px;
      width: 2vw;
      object-fit: cover;

      @media (min-width: 768px) {
        width: 3vw;
      }

      @media (min-width: 1024px) {
        width: 2.5vw;
      }
    }
  }

  p,
  .subtitle,
  .viewer {
    grid-column: 2/4;
    font-size: var(--card-font-mobile);
  }

  p {
    font-size: var(--card-font-mobile);
    font-weight: var(--card-font-bold-700);

    @media (min-width: 768px) {
      font-size: var(--font-size-tablet);
    }

    @media (min-width: 1024px) {
      font-size: 1rem;
    }
  }
  .subtitle {
    font-weight: var(--card-font-bold-400);
    color: var(--gray--300);

    @media (min-width: 768px) {
      font-size: var(--font-size-tablet);
    }
    @media (min-width: 1024px) {
      font-size: 1rem;
    }
  }
  .viewer {
    font-size: var(--card-font-tablet);
    font-weight: var(--card-font-bold-400);
    color: var(--gray-500, #6b6b6b);

    @media (min-width: 1024px) {
      font-size: 1rem;
    }
  }
}

/* banner-card */
.banner-card {
  max-width: 120rem;
  margin: 40px auto 20px;
  padding: 0 3vw;
  @media (min-width: 1961px) {
    max-width: 100%;
  }
  a {
    display: block;
    margin: 0 auto;
  }
  img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
