<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.jpg" />
    <link
      rel="preload"
      as="font"
      href="/font/woff2/PretendardVariable.woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="./../../main.js"></script>
    <title>main-card-component</title>
  </head>
  <body>
    <h1>main-card-component</h1>

    <section class="card-wrapper tving-content">
      <h2>tving-content</h2>
      <ul class="main-card-list">
        <li class="card">
          <a href="/" class="card-link">
            <figure>
              <picture>
                <source
                  srcset="
                    ./../../assets/main-card-images/treasure-hunt-desktop.webp
                  "
                  media="(min-width: 1024px)"
                />

                <source
                  srcset="
                    ./../../assets/main-card-images/treasure-hunt-tablet.webp
                  "
                  media="(min-width: 768px) and (max-width: 1023px)"
                />

                <source
                  srcset="./../../assets/main-card-images/treasure-hunt.webp"
                  media="(max-width: 767px)"
                />

                <img
                  src="./../../assets/main-card-images/treasure-hunt.webp"
                  alt="보물찾기 콘텐츠 이미지"
                />
              </picture>
              <figcaption>title</figcaption>
            </figure>
          </a>
        </li>
      </ul>
    </section>

    <hr />

    <section class="card-wrapper quick-VOD">
      <h2>Quick VOD</h2>
      <ul class="quick-VOD-card-list">
        <li class="card">
          <a href="/" class="card-link">
            <figure>
              <picture>
                <source
                  srcset="
                    ./../../assets/main-card-images/jtbc-news-room-desktop.webp
                  "
                  media="(min-width: 1024px)"
                />

                <source
                  srcset="
                    ./../../assets/main-card-images/jtbc-news-room-tablet.webp
                  "
                  media="(min-width: 768px) and (max-width: 1023px)"
                />

                <source
                  srcset="./../../assets/main-card-images/jtbc-news-room.webp"
                  media="(max-width: 767px)"
                />

                <img
                  src="./../../assets/main-card-images/jtbc-news-room.webp"
                  alt="JTBC 뉴스룸 콘텐츠 이미지"
                />
              </picture>
              <figcaption>title</figcaption>
              <p>sub title</p>
            </figure>
          </a>
        </li>
      </ul>
    </section>

    <hr />

    <section class="card-wrapper user-watching-content">
      <h2>프로필님이 시청중인 콘텐츠</h2>
      <ul class="user-watching-card-list">
        <li class="card">
          <a href="/" class="card-link">
            <figure>
              <picture>
                <source
                  srcset="
                    ./../../assets/main-card-images/rich-last-son-desktop.webp
                  "
                  media="(min-width: 1024px)"
                />

                <source
                  srcset="
                    ./../../assets/main-card-images/rich-last-son-tablet.webp
                  "
                  media="(min-width: 768px) and (max-width: 1023px)"
                />

                <source
                  srcset="./../../assets/main-card-images/rich-last-son.webp"
                  media="(max-width: 767px)"
                />

                <img
                  src="./../../assets/main-card-images/rich-last-son.webp"
                  alt="시청중인 재벌집 막내아들 포스터"
                />
              </picture>
              <div class="watching-card-bottom">
                <figcaption>1화</figcaption>
                <div class="watching-content-card-info">
                  <svg
                    viewBox="0 0 37 36"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle cx="18.28" cy="10" r="2" fill="#B3B3B3"></circle>
                    <circle cx="18.28" cy="18" r="2" fill="#B3B3B3"></circle>
                    <circle cx="18.28" cy="26" r="2" fill="#B3B3B3"></circle>
                  </svg>
                </div>
              </div>
              <div class="play-svg-img">
                <svg
                  viewBox="0 0 84 83"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g opacity="0.996">
                    <circle
                      cx="41.78"
                      cy="41.5"
                      r="34.083"
                      fill="#000"
                      fill-opacity="0.7"
                      stroke="#fff"
                    ></circle>
                    <path
                      d="M34.863 55.333V27.667L57.343 41.5l-22.48 13.832z"
                      fill="#fff"
                    ></path>
                  </g>
                </svg>
              </div>
            </figure>
          </a>
        </li>
      </ul>
    </section>

    <hr />
    <section class="card-wrapper live-ranking">
      <h2>실시간 인기 프로그램</h2>
      <ul class="live-ranking-card-list">
        <li class="card">
          <a href="/" class="card-link">
            <figure>
              <picture>
                <source
                  srcset="
                    ./../../assets/main-card-images/rich-last-son-desktop.webp
                  "
                  media="(min-width: 1024px)"
                />

                <source
                  srcset="
                    ./../../assets/main-card-images/rich-last-son-tablet.webp
                  "
                  media="(min-width: 768px) and (max-width: 1023px)"
                />

                <source
                  srcset="./../../assets/main-card-images/rich-last-son.webp"
                  media="(max-width: 767px)"
                />

                <img
                  src="./../../assets/main-card-images/rich-last-son.webp"
                  alt="랭킹 리스트 중 재벌집 막내아들 이미지 "
                />
              </picture>
              <figcaption>1</figcaption>
            </figure>
          </a>
        </li>
      </ul>
      <div class="card-move-buttons">
        <button type="button" class="left">
          <svg
            width="70"
            height="70"
            viewBox="0 0 70 70"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_158_6408)">
              <g opacity="0.7">
                <path
                  d="M44.13 16.7393L25.8691 35.0001"
                  stroke="#ffffff"
                  stroke-width="4"
                  stroke-linecap="square"
                />
                <path
                  d="M25.8691 35L44.13 53.2609"
                  stroke="#ffffff"
                  stroke-width="4"
                  stroke-linecap="square"
                />
              </g>
            </g>
            <defs>
              <clipPath id="clip0_158_6408">
                <rect width="70" height="70" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </button>
        <button type="button" class="right">
          <svg
            width="70"
            height="70"
            viewBox="0 0 70 70"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_158_6402)">
              <path
                d="M25.8691 16.7373L44.13 34.9982"
                stroke="#ffffff"
                stroke-width="4"
                stroke-linecap="square"
              />
              <path
                d="M44.13 34.998L25.8691 53.2589"
                stroke="#ffffff"
                stroke-width="4"
                stroke-linecap="square"
              />
            </g>
            <defs>
              <clipPath id="clip0_158_6402">
                <rect width="70" height="70" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </button>
      </div>
    </section>

    <hr />

    <section class="card-wrapper live-channel">
      <h2>인기 채널</h2>
      <ul class="live-channel-card-list">
        <li class="card">
          <a href="/" class="card-link">
            <figure>
              <picture>
                <source
                  srcset="
                    ./../../assets/main-card-images/ranking-list-jtbc-desktop.webp
                  "
                  media="(min-width: 1024px)"
                />

                <source
                  srcset="
                    ./../../assets/main-card-images/ranking-list-jtbc-tablet.webp
                  "
                  media="(min-width: 768px) and (max-width: 1023px)"
                />

                <source
                  srcset="
                    ./../../assets/main-card-images/ranking-list-jtbc.webp
                  "
                  media="(max-width: 767px)"
                />

                <img
                  src="./../../assets/main-card-images/ranking-list-jtbc.webp"
                  alt="랭킹 리스트 중 재벌집 막내아들 이미지 "
                />
              </picture>
              <div class="rank-channel-text">
                <figcaption>title</figcaption>
                <p class="subtitle">subtitle</p>
                <p class="ranking">1</p>
                <p class="viewer">viewer</p>
              </div>
            </figure>
          </a>
        </li>
      </ul>
    </section>

    <hr />

    <section class="card-wrapper only-tving">
      <h2>오로지 티빙에서만</h2>
      <ul class="only-tving-card-list">
        <li class="card">
          <a href="/" class="card-link">
            <picture>
              <source
                srcset="
                  ./../../assets/main-card-images/can-all-see-desktop.webp
                "
                media="(min-width: 1024px)"
              />

              <source
                srcset="./../../assets/main-card-images/can-all-see-tablet.webp"
                media="(min-width: 768px) and (max-width: 1023px)"
              />

              <source
                srcset="./../../assets/main-card-images/can-all-see.webp"
                media="(max-width: 767px)"
              />

              <img
                src="./../../assets/main-card-images/can-all-see.webp"
                alt="오직 티빙에서만 시청하는한 콘텐츠 중 '전체연령가' 드라마 포스터  "
              />
            </picture>
          </a>
        </li>
      </ul>
    </section>

    <hr />

    <section class="banner-area">
      <div class="card banner-card">
        <a href="/" class="card-link">
          <picture>
            <source
              srcset="./../../assets/main-card-images/sports-live-desktop.webp"
              media="(min-width: 1024px)"
            />

            <source
              srcset="./../../assets/main-card-images/sports-live-tablet.webp"
              media="(min-width: 768px) and (max-width: 1023px)"
            />

            <source
              srcset="./../../assets/main-card-images/sports-live.webp"
              media="(max-width: 767px)"
            />

            <img
              src="./../../assets/main-card-images/sports-live.webp"
              alt="티빙 스포츠 경기 생중게 배너 "
            />
          </picture>
        </a>
      </div>
    </section>

    <hr />

    <section class="event-list">
      <ul class="event-card-list">
        <li class="card">
          <a href="/" class="card-link">
            <picture>
              <source
                srcset="
                  ./../../assets/main-main-card-images/sinbi-apart-desktop.webp
                "
                media="(min-width: 1024px)"
              />

              <source
                srcset="
                  ./../../assets/main-main-card-images/sinbi-apart-tablet.webp
                "
                media="(min-width: 768px) and (max-width: 1023px)"
              />

              <source
                srcset="./../../assets/main-main-card-images/sinbi-apart.webp"
                media="(max-width: 767px)"
              />

              <img
                src="./../../assets/main-card-images/sinbi-apart.webp"
                alt="티빙 신비 아파트 이벤트 배너 "
              />
            </picture>
          </a>
        </li>
      </ul>
    </section>

    <hr />

    <section>
      <div class="card-move-buttons">
        <button type="button" class="left">
          <svg
            width="70"
            height="70"
            viewBox="0 0 70 70"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_158_6408)">
              <g opacity="0.7">
                <path
                  d="M44.13 16.7393L25.8691 35.0001"
                  stroke="#ffffff"
                  stroke-width="2"
                  stroke-linecap="square"
                />
                <path
                  d="M25.8691 35L44.13 53.2609"
                  stroke="#ffffff"
                  stroke-width="2"
                  stroke-linecap="square"
                />
              </g>
            </g>
            <defs>
              <clipPath id="clip0_158_6408">
                <rect width="70" height="70" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </button>
        <button type="button" class="right">
          <svg
            width="70"
            height="70"
            viewBox="0 0 70 70"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_158_6402)">
              <path
                d="M25.8691 16.7373L44.13 34.9982"
                stroke="#ffffff"
                stroke-width="2"
                stroke-linecap="square"
              />
              <path
                d="M44.13 34.998L25.8691 53.2589"
                stroke="#ffffff"
                stroke-width="2"
                stroke-linecap="square"
              />
            </g>
            <defs>
              <clipPath id="clip0_158_6402">
                <rect width="70" height="70" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </button>
      </div>
    </section>
  </body>
</html>
