body {
  font-family: "Pretendard Variable", sans-serif;
  background: var(--brand--dark-bg-1);
}
.gnb-bg {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.ldgnb {
  --gnb-height: 2.375rem;
  --gnb-inline-p: 1rem;
  --gnb-logo-w: 46px;

  width: 100%;
  height: var(--gnb-height);
  padding-inline: var(--gnb-inline-p);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;

  .ldgnb-logo {
    width: var(--gnb-logo-w);
    height: auto;
  }
  @media screen and (min-width: 768px) {
    --gnb-height: 3.5rem;
    --gnb-inline-p: 2.5rem;
    --gnb-logo-w: 4.875rem;
  }

  @media screen and (min-width: 1920px) {
    --gnb-height: 100px;
    --gnb-inline-p: 70px;
    --gnb-logo-w: 8.25rem;
  }
}
/* div {
  width: 100vw;
  height: 13000px;
  background: white;
} */
