/* main-visual-area */
.main-visual-area {
  --mobile-min-w: 20rem;
  --tablet-min-w: 48rem;
  --desktop-min-w: 120rem;

  @media (min-width: 1024px) {
    max-width: var(--desktop-min-w);
  }
  /* padding: 4rem; */
  /* background: #000; */
  width: 100%;
  position: relative;

  /* main-visual */
  .main-visual {
    text-align: center;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  /* main-visual-button-wrap  */
  .main-visual-button-wrap {
    --button-w-desktop: 4.375rem;
    --button-w-tablet: 2.5rem;
    --button-w-mobile: 0.9375rem;

    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: flex;
    justify-content: space-between;

    .main-visual-button-left,
    .main-visual-button-right {
      background: none;
      border: none;

      svg {
        width: var(--button-w-mobile);

        @media (min-width: 768px) {
          width: var(--button-w-tablet);
        }
        @media (min-width: 1024px) {
          width: var(--button-w-desktop);
        }
      }
    }
  }
  /* main-visual-text */
  .main-visual-text {
    color: #fff;
    font-size: 0.75rem;
    font-weight: 600;
    top: 70%;
    left: 3%;
    position: absolute;

    @media (min-width: 768px) {
      font-size: 0.875rem;
      font-weight: 600;
    }
    @media (min-width: 1024px) {
      font-size: 1.3125rem;
      font-weight: 600;
    }
  }
}
