<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/favicon.jpg" />
  <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" /> 
  <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
  <script type="module" src="./../../main.js"/></script>
  <title>detail-page</title>
</head>
<body class="dt-program-wrapper">
    <!-- 메인 상단 gnb메뉴 -->
  <div class="gnb gnb-main">  
    <div class="gnb-max-wrapper gnb-grid">
      <!-- 로고 -->
      <a class="gnb-logo" href="/index.html" target="_self">
        <img src="../../../public/logo.svg" alt="티빙" />
      </a>
      <!-- 모바일:화면공유 공통:프로필 pc,태블릿: -->
      <div class="gnb-flex-row gnb-icons">
        <div class="gnb-btn-sch">
          <input type="checkbox" role="button" class="gnb-sch-input" id="gnb-sch-check" name="gnb-sch-check"/>
          <label for="gnb-sch-check" class="gnb-sch-label" ><span class="sr-only">검색</span></label>
        </div>
        <button type="button" class="screen-btn" role="button" aria-label="다른 디바이스와 화면 공유"><img src="../../assets/gnb-main/screen-icon.svg" alt="다른디스플레이와 화면공유" /></button>
        <a href="#" role="link" class="gnb-profile-btn" aria-label="프로필 편집"><img src="../../assets/gnb-main/mgnb-profile-desktop.webp" alt="프로필 편집" /></a>
      </div>
      <nav>
        <ul class="gnb-flex-row gnb-main-nav">
          <li><a href="#">드라마</a></li>
          <li><a href="#">예능</a></li>
          <li><a href="#">영화</a></li>
          <li><a href="#">스포츠</a></li>
          <li><a href="#">애니</a></li>
          <li><a href="#">뉴스</a></li>
          <li><a href="#">라이브</a></li>
        </ul>
      </nav>
    </div>
  </div>
  
  <h1 class="sr-only">오직 티빙에서만! 그놈은 흑염룡</h1>
  <!-- 1단 -->
  <section class="dt-title-info" role="heading">
      <!-- 비쥬얼 이미지 컴포넌트-->
    <picture class="dt-visual-img">
      <source srcset="../../assets/detail-page/1-visual-pc-1.webp" media="(min-width:1024px)"/>
      <img src="../../assets/detail-page/1-visual-m-1.webp" alt="그놈은 흑염룡" />
    </picture>
    <!-- 정보 텍스트 묶음 -->
    <div class="dt-title-info-text" role="contentinfo">
      <!-- 드라마 제목 컴포넌트 -->
      <figure role="heading" class="dt-program-title">
        <img class="dt-tving-only" src="../../assets/detail-page/icons/tving-only.svg" alt="티빙 단독 공개" />
        <img class="dt-title-img" src="../../assets/detail-page/1-vixual-pc-title.webp" alt="그놈은 흑염룡" />
      <h2>그놈은 흑염룡</h2>
      </figure>
      <!-- 정보 텍스트 컴포넌트 -->
      <ul class="dt-program-info gnb-flex-row" role="contentinfo">
        <li><img src="../../assets/detail-page/icons/icon-fifteen.svg" alt="15세 이상 관람가" /></li>
        <li>월화 오후8:50</li>
        <li>드라마</li>
        <li>tvN</li>
        <li>시즌 1개</li>
        <li>해설 자막</li>
      </ul>
        <!-- 제작자 및 출연진 -->
      <dl class="dt-cast-list" role="contentinfo">
        <dt id="creator">크리에이터</dt>
        <dd aria-labelledby="creator">이수현, 김수연</dd>
        <dt id="cast">출연</dt>
        <dd aria-labelledby="cast">문가영, 최현욱, 임세미, 곽시양</dd>
      </dl>
      <!-- 스토리 요약 -->
      <div class="dt-program-story" role="contentinfo"><p>
        새로 온 본부장에게서 최악의 첫사랑, '흑염룡'의 기운이 느껴진다? 흑역사에 고통받는 '본부장 킬러' 팀장 백수정과 가슴에 흑염룡을 품은 '재벌 3세'본부장 반주연의 봉인해제 로맨스
      </p></div>
      <!-- 버튼 묶음 -->
      <div class="dt-btn-wrapper gnb-flex-row">
        <!-- 링크 컴포넌트 -->
        <a href="#" target="_self" role="link" class="dt-sub-btn">이용권 구독하기</a>
        <!-- 아이콘 버튼 컴포넌트 -->
        <button class="dt-icon-btn" aria-label="찜"><img src="../../assets/detail-page/icons/icon-plus.svg" alt="찜" />찜</button>
        <button class="dt-icon-btn" aria-label="찜"><img src="../../assets/detail-page/icons/icon-share.svg" alt="공유" />공유</button>
      </div>
    </div>
  </section>
    <!-- 수평선 컴포넌트 -->
   <div role="none" class="dt-hr"><div></div></div>
   <!-- 2단시작 / 그놈은 흑염룡 ~~화 -->
   <section class="dt-video-section">
    <header>
      <h3 class="dt-section-program-header">그놈은 흑염룡</h3>
      <div class="dt-videosec-btn">
        <!-- 첫화부터 최신화부터 버튼 -->
        <form class="dt-video-order">
          <div>
            <input type="radio" id="dt-first-video" class="sr-only" name="dt-video" value="first-video" checked>
            <label for="dt-first-video">첫화부터</label>
          </div>
          <div>
            <input type="radio" id="dt-new-video" class="sr-only" name="dt-video" value="new-video">
            <label for="dt-new-video">최신화부터</label>
          </div>
        </form>
        <!-- 연속재생버튼 -->
        <div class="dt-auto-btn-wrapper">
          <input type="checkbox" class="sr-only" id="dt-auto-btn" name="dt-auto-btn" role="checkbox" checked/>
          <label for="dt-auto-btn"><span class="at-auto-onoff"></span>연속재생</label>
        </div>
      </div>
    </header>
    <!-- 회차리스트 -->
    <div class="dt-video-order-list-wrapper">
      <ul>
        <li>
            <a href="#" target="_self" class="dt-program-item dt-item-transition" aria-label="그놈은 흑염룡 1화 보기">
              <figure class="dt-program-item-fig">
                <img src="../../assets/detail-page/2-thummail-1.webp" alt="그놈은 흑염룡 1화 썸네일" />
                <figcaption class="dt-program-item-cap">
                  <p class="dt-program-item-h" role="heading">1. 그놈은 흑염룡 1화</p>
                  <p class="dt-program-item-text">돌아가신 엄마의 몫까지 대신하며 정신없이 살아온 열아홉 수정. 우연히 시작한 게임에서 첫 사랑, '흑염룡'을 만난다. 그러나 설렘 가득했...</p>
                  <time datetime="2025-02-17T00:00:00">2025.02.17 월&#183;61분</time>
                </figcaption>
              </figure>
          </a>
        </li>
        <li>
            <a href="#" target="_self" class="dt-program-item dt-item-transition" aria-label="그놈은 흑염룡 1화 보기">
              <figure class="dt-program-item-fig">
                <img src="../../assets/detail-page/2-thummail-1.webp" alt="그놈은 흑염룡 1화 썸네일" />
                <figcaption class="dt-program-item-cap">
                  <p class="dt-program-item-h" role="heading">1. 그놈은 흑염룡 1화</p>
                  <p class="dt-program-item-text">돌아가신 엄마의 몫까지 대신하며 정신없이 살아온 열아홉 수정. 우연히 시작한 게임에서 첫 사랑, '흑염룡'을 만난다. 그러나 설렘 가득했...</p>
                  <time datetime="2025-02-17T00:00:00">2025.02.17 월&#183;61분</time>
                </figcaption>
              </figure>
          </a>
        </li>
        <li>
            <a href="#" target="_self" class="dt-program-item dt-item-transition" aria-label="그놈은 흑염룡 1화 보기">
              <figure class="dt-program-item-fig">
                <img src="../../assets/detail-page/2-thummail-1.webp" alt="그놈은 흑염룡 1화 썸네일" />
                <figcaption class="dt-program-item-cap">
                  <p class="dt-program-item-h" role="heading">1. 그놈은 흑염룡 1화</p>
                  <p class="dt-program-item-text">돌아가신 엄마의 몫까지 대신하며 정신없이 살아온 열아홉 수정. 우연히 시작한 게임에서 첫 사랑, '흑염룡'을 만난다. 그러나 설렘 가득했...</p>
                  <time datetime="2025-02-17T00:00:00">2025.02.17 월&#183;61분</time>
                </figcaption>
              </figure>
          </a>
        </li>
        <li>
            <a href="#" target="_self" class="dt-program-item dt-item-transition" aria-label="그놈은 흑염룡 1화 보기">
              <figure class="dt-program-item-fig">
                <img src="../../assets/detail-page/2-thummail-1.webp" alt="그놈은 흑염룡 1화 썸네일" />
                <figcaption class="dt-program-item-cap">
                  <p class="dt-program-item-h" role="heading">1. 그놈은 흑염룡 1화</p>
                  <p class="dt-program-item-text">돌아가신 엄마의 몫까지 대신하며 정신없이 살아온 열아홉 수정. 우연히 시작한 게임에서 첫 사랑, '흑염룡'을 만난다. 그러나 설렘 가득했...</p>
                  <time datetime="2025-02-17T00:00:00">2025.02.17 월&#183;61분</time>
                </figcaption>
              </figure>
          </a>
        </li>
        <li>
            <a href="#" target="_self" class="dt-program-item dt-item-transition" aria-label="그놈은 흑염룡 1화 보기">
              <figure class="dt-program-item-fig">
                <img src="../../assets/detail-page/2-thummail-1.webp" alt="그놈은 흑염룡 1화 썸네일" />
                <figcaption class="dt-program-item-cap">
                  <p class="dt-program-item-h" role="heading">1. 그놈은 흑염룡 1화</p>
                  <p class="dt-program-item-text">돌아가신 엄마의 몫까지 대신하며 정신없이 살아온 열아홉 수정. 우연히 시작한 게임에서 첫 사랑, '흑염룡'을 만난다. 그러나 설렘 가득했...</p>
                  <time datetime="2025-02-17T00:00:00">2025.02.17 월&#183;61분</time>
                </figcaption>
              </figure>
          </a>
        </li>
        <li>
            <a href="#" target="_self" class="dt-program-item dt-item-transition" aria-label="그놈은 흑염룡 1화 보기">
              <figure class="dt-program-item-fig">
                <img src="../../assets/detail-page/2-thummail-1.webp" alt="그놈은 흑염룡 1화 썸네일" />
                <figcaption class="dt-program-item-cap">
                  <p class="dt-program-item-h" role="heading">1. 그놈은 흑염룡 1화</p>
                  <p class="dt-program-item-text">돌아가신 엄마의 몫까지 대신하며 정신없이 살아온 열아홉 수정. 우연히 시작한 게임에서 첫 사랑, '흑염룡'을 만난다. 그러나 설렘 가득했...</p>
                  <time datetime="2025-02-17T00:00:00">2025.02.17 월&#183;61분</time>
                </figcaption>
              </figure>
          </a>
        </li>
        <li>
            <a href="#" target="_self" class="dt-program-item dt-item-transition" aria-label="그놈은 흑염룡 1화 보기">
              <figure class="dt-program-item-fig">
                <img src="../../assets/detail-page/2-thummail-1.webp" alt="그놈은 흑염룡 1화 썸네일" />
                <figcaption class="dt-program-item-cap">
                  <p class="dt-program-item-h" role="heading">1. 그놈은 흑염룡 1화</p>
                  <p class="dt-program-item-text">돌아가신 엄마의 몫까지 대신하며 정신없이 살아온 열아홉 수정. 우연히 시작한 게임에서 첫 사랑, '흑염룡'을 만난다. 그러나 설렘 가득했...</p>
                  <time datetime="2025-02-17T00:00:00">2025.02.17 월&#183;61분</time>
                </figcaption>
              </figure>
          </a>
        </li>
        <li>
            <a href="#" target="_self" class="dt-program-item dt-item-transition" aria-label="그놈은 흑염룡 1화 보기">
              <figure class="dt-program-item-fig">
                <img src="../../assets/detail-page/2-thummail-1.webp" alt="그놈은 흑염룡 1화 썸네일" />
                <figcaption class="dt-program-item-cap">
                  <p class="dt-program-item-h" role="heading">1. 그놈은 흑염룡 1화</p>
                  <p class="dt-program-item-text">돌아가신 엄마의 몫까지 대신하며 정신없이 살아온 열아홉 수정. 우연히 시작한 게임에서 첫 사랑, '흑염룡'을 만난다. 그러나 설렘 가득했...</p>
                  <time datetime="2025-02-17T00:00:00">2025.02.17 월&#183;61분</time>
                </figcaption>
              </figure>
          </a>
        </li>
        <li>
            <a href="#" target="_self" class="dt-program-item dt-item-transition" aria-label="그놈은 흑염룡 1화 보기">
              <figure class="dt-program-item-fig">
                <img src="../../assets/detail-page/2-thummail-1.webp" alt="그놈은 흑염룡 1화 썸네일" />
                <figcaption class="dt-program-item-cap">
                  <p class="dt-program-item-h" role="heading">1. 그놈은 흑염룡 1화</p>
                  <p class="dt-program-item-text">돌아가신 엄마의 몫까지 대신하며 정신없이 살아온 열아홉 수정. 우연히 시작한 게임에서 첫 사랑, '흑염룡'을 만난다. 그러나 설렘 가득했...</p>
                  <time datetime="2025-02-17T00:00:00">2025.02.17 월&#183;61분</time>
                </figcaption>
              </figure>
          </a>
        </li>
        <li>
            <a href="#" target="_self" class="dt-program-item dt-item-transition" aria-label="그놈은 흑염룡 1화 보기">
              <figure class="dt-program-item-fig">
                <img src="../../assets/detail-page/2-thummail-1.webp" alt="그놈은 흑염룡 1화 썸네일" />
                <figcaption class="dt-program-item-cap">
                  <p class="dt-program-item-h" role="heading">1. 그놈은 흑염룡 1화</p>
                  <p class="dt-program-item-text">돌아가신 엄마의 몫까지 대신하며 정신없이 살아온 열아홉 수정. 우연히 시작한 게임에서 첫 사랑, '흑염룡'을 만난다. 그러나 설렘 가득했...</p>
                  <time datetime="2025-02-17T00:00:00">2025.02.17 월&#183;61분</time>
                </figcaption>
              </figure>
          </a>
        </li>
      </ul>
    </div>
    <!-- 구독하기버튼 -->
    <a href="#" target="_self" role="link" class="dt-more-btn">더 많은 회차가 보고싶다면, 지금 구독하기</a>
   </section>
   <!-- 수평선 컴포넌트 -->
   <div role="none" class="dt-hr"><div></div></div>
   <!-- 관련영상섹션 -->
   <section class="dt-youtube-section">
    <header>
      <h3 class="dt-section--header">관련영상</h3>
    </header>
    <div class="dt-youtube-list-wrapper">
      <ul>
        <li>
          <a href="#" target="_self" class="dt-youtube-item dt-item-transition" aria-label="관련영상 보기">
            <figure>
              <img src="../../assets/detail-page/3-youtube-1.webp" alt="은밀한 사생활 눈감아 줄게요, 그놈은 흑염룡 티저영상" />
              <figcaption>
                <p role="heading"><strong>[봉인해제 티저]</strong>그놈은 흑염룡</p>
              </figcaption>
            </figure>
          </a>
        </li>
        <li>
          <a href="#" target="_self" class="dt-youtube-item dt-item-transition" aria-label="관련영상 보기">
            <figure>
              <img src="../../assets/detail-page/3-youtube-1.webp" alt="은밀한 사생활 눈감아 줄게요, 그놈은 흑염룡 티저영상" />
              <figcaption>
                <p role="heading"><strong>[봉인해제 티저]</strong>그놈은 흑염룡</p>
              </figcaption>
            </figure>
          </a>
        </li>
        <li>
          <a href="#" target="_self" class="dt-youtube-item dt-item-transition" aria-label="관련영상 보기">
            <figure>
              <img src="../../assets/detail-page/3-youtube-1.webp" alt="은밀한 사생활 눈감아 줄게요, 그놈은 흑염룡 티저영상" />
              <figcaption>
                <p role="heading"><strong>[봉인해제 티저]</strong>그놈은 흑염룡</p>
              </figcaption>
            </figure>
          </a>
        </li>
        <li>
          <a href="#" target="_self" class="dt-youtube-item dt-item-transition" aria-label="관련영상 보기">
            <figure>
              <img src="../../assets/detail-page/3-youtube-1.webp" alt="은밀한 사생활 눈감아 줄게요, 그놈은 흑염룡 티저영상" />
              <figcaption>
                <p role="heading"><strong>[봉인해제 티저]</strong>그놈은 흑염룡</p>
              </figcaption>
            </figure>
          </a>
        </li>
        <li>
          <a href="#" target="_self" class="dt-youtube-item dt-item-transition" aria-label="관련영상 보기">
            <figure>
              <img src="../../assets/detail-page/3-youtube-1.webp" alt="은밀한 사생활 눈감아 줄게요, 그놈은 흑염룡 티저영상" />
              <figcaption>
                <p role="heading"><strong>[봉인해제 티저]</strong>그놈은 흑염룡</p>
              </figcaption>
            </figure>
          </a>
        </li>
      </ul>
    </div>
   </section>
   <!-- 비슷한 영상 -->
   <section class="dt-youtube-section dt-last-padding">
    <header>
      <h3 class="dt-section--header">비슷한 콘텐츠</h3>
    </header>
    <div class="dt-youtube-list-wrapper">
      <ul>
       <li>
          <a href="#" target="_self" class="dt-contents-item dt-item-transition" aria-label="삼생 초월 로맨스 우룡">
            <figure>
              <img src="../../assets/detail-page/4-contents-1.webp" alt="삼생 초월 로맨스 우룡" />
              <figcaption><p>삼생 초월 로맨스 우룡</p></figcaption>
            </figure>
          </a>
       </li>
       <li>
          <a href="#" target="_self" class="dt-contents-item dt-item-transition" aria-label="삼생 초월 로맨스 우룡">
            <figure>
              <img src="../../assets/detail-page/4-contents-1.webp" alt="삼생 초월 로맨스 우룡" />
              <figcaption><p>삼생 초월 로맨스 우룡</p></figcaption>
            </figure>
          </a>
       </li>
       <li>
          <a href="#" target="_self" class="dt-contents-item dt-item-transition" aria-label="삼생 초월 로맨스 우룡">
            <figure>
              <img src="../../assets/detail-page/4-contents-1.webp" alt="삼생 초월 로맨스 우룡" />
              <figcaption><p>삼생 초월 로맨스 우룡</p></figcaption>
            </figure>
          </a>
       </li>
       <li>
          <a href="#" target="_self" class="dt-contents-item dt-item-transition" aria-label="삼생 초월 로맨스 우룡">
            <figure>
              <img src="../../assets/detail-page/4-contents-1.webp" alt="삼생 초월 로맨스 우룡" />
              <figcaption><p>삼생 초월 로맨스 우룡</p></figcaption>
            </figure>
          </a>
       </li>
       <li>
          <a href="#" target="_self" class="dt-contents-item dt-item-transition" aria-label="삼생 초월 로맨스 우룡">
            <figure>
              <img src="../../assets/detail-page/4-contents-1.webp" alt="삼생 초월 로맨스 우룡" />
              <figcaption><p>삼생 초월 로맨스 우룡</p></figcaption>
            </figure>
          </a>
       </li>
       <li>
          <a href="#" target="_self" class="dt-contents-item dt-item-transition" aria-label="삼생 초월 로맨스 우룡">
            <figure>
              <img src="../../assets/detail-page/4-contents-1.webp" alt="삼생 초월 로맨스 우룡" />
              <figcaption><p>삼생 초월 로맨스 우룡</p></figcaption>
            </figure>
          </a>
       </li>
       <li>
          <a href="#" target="_self" class="dt-contents-item dt-item-transition" aria-label="삼생 초월 로맨스 우룡">
            <figure>
              <img src="../../assets/detail-page/4-contents-1.webp" alt="삼생 초월 로맨스 우룡" />
              <figcaption><p>삼생 초월 로맨스 우룡</p></figcaption>
            </figure>
          </a>
       </li>
       <li>
          <a href="#" target="_self" class="dt-contents-item dt-item-transition" aria-label="삼생 초월 로맨스 우룡">
            <figure>
              <img src="../../assets/detail-page/4-contents-1.webp" alt="삼생 초월 로맨스 우룡" />
              <figcaption><p>삼생 초월 로맨스 우룡</p></figcaption>
            </figure>
          </a>
       </li>
       <li>
          <a href="#" target="_self" class="dt-contents-item dt-item-transition" aria-label="삼생 초월 로맨스 우룡">
            <figure>
              <img src="../../assets/detail-page/4-contents-1.webp" alt="삼생 초월 로맨스 우룡" />
              <figcaption><p>삼생 초월 로맨스 우룡</p></figcaption>
            </figure>
          </a>
       </li>
       <li>
          <a href="#" target="_self" class="dt-contents-item dt-item-transition" aria-label="삼생 초월 로맨스 우룡">
            <figure>
              <img src="../../assets/detail-page/4-contents-1.webp" alt="삼생 초월 로맨스 우룡" />
              <figcaption><p>삼생 초월 로맨스 우룡</p></figcaption>
            </figure>
          </a>
       </li>
       <li>
          <a href="#" target="_self" class="dt-contents-item dt-item-transition" aria-label="삼생 초월 로맨스 우룡">
            <figure>
              <img src="../../assets/detail-page/4-contents-1.webp" alt="삼생 초월 로맨스 우룡" />
              <figcaption><p>삼생 초월 로맨스 우룡</p></figcaption>
            </figure>
          </a>
       </li>
       <li>
          <a href="#" target="_self" class="dt-contents-item dt-item-transition" aria-label="삼생 초월 로맨스 우룡">
            <figure>
              <img src="../../assets/detail-page/4-contents-1.webp" alt="삼생 초월 로맨스 우룡" />
              <figcaption><p>삼생 초월 로맨스 우룡</p></figcaption>
            </figure>
          </a>
       </li>
       <li>
          <a href="#" target="_self" class="dt-contents-item dt-item-transition" aria-label="삼생 초월 로맨스 우룡">
            <figure>
              <img src="../../assets/detail-page/4-contents-1.webp" alt="삼생 초월 로맨스 우룡" />
              <figcaption><p>삼생 초월 로맨스 우룡</p></figcaption>
            </figure>
          </a>
       </li>
       <li>
          <a href="#" target="_self" class="dt-contents-item dt-item-transition" aria-label="삼생 초월 로맨스 우룡">
            <figure>
              <img src="../../assets/detail-page/4-contents-1.webp" alt="삼생 초월 로맨스 우룡" />
              <figcaption><p>삼생 초월 로맨스 우룡</p></figcaption>
            </figure>
          </a>
       </li>
       <li>
          <a href="#" target="_self" class="dt-contents-item dt-item-transition" aria-label="삼생 초월 로맨스 우룡">
            <figure>
              <img src="../../assets/detail-page/4-contents-1.webp" alt="삼생 초월 로맨스 우룡" />
              <figcaption><p>삼생 초월 로맨스 우룡</p></figcaption>
            </figure>
          </a>
       </li>
       <li>
          <a href="#" target="_self" class="dt-contents-item dt-item-transition" aria-label="삼생 초월 로맨스 우룡">
            <figure>
              <img src="../../assets/detail-page/4-contents-1.webp" alt="삼생 초월 로맨스 우룡" />
              <figcaption><p>삼생 초월 로맨스 우룡</p></figcaption>
            </figure>
          </a>
       </li>
       <li>
          <a href="#" target="_self" class="dt-contents-item dt-item-transition" aria-label="삼생 초월 로맨스 우룡">
            <figure>
              <img src="../../assets/detail-page/4-contents-1.webp" alt="삼생 초월 로맨스 우룡" />
              <figcaption><p>삼생 초월 로맨스 우룡</p></figcaption>
            </figure>
          </a>
       </li>
       <li>
          <a href="#" target="_self" class="dt-contents-item dt-item-transition" aria-label="삼생 초월 로맨스 우룡">
            <figure>
              <img src="../../assets/detail-page/4-contents-1.webp" alt="삼생 초월 로맨스 우룡" />
              <figcaption><p>삼생 초월 로맨스 우룡</p></figcaption>
            </figure>
          </a>
       </li>
      </ul>
    </div>
   </section>


</body>
</html>